prowjob_namespace: prow
pod_namespace: prow-test-pods
log_level: debug

branch-protection:
  enforce_admins: true # rules apply to admins too!
  orgs:
    ti-community-infra:
      repos:
        test-dev:
          branches:
            master:
              protect: true
              required_pull_request_reviews:
                require_code_owner_reviews: true
                required_approving_review_count: 1
              required_status_checks:
                contexts:
                  - "tide"
                strict: true

in_repo_config:
  enabled:
    ti-community-infra/test-dev: true

deck:
  spyglass:
    lenses:
      - lens:
          name: metadata
        required_files:
          - started.json|finished.json
      - lens:
          config:
          name: buildlog
        required_files:
          - build-log.txt
      - lens:
          name: junit
        required_files:
          - .*/junit.*\.xml
      - lens:
          name: podinfo
        required_files:
          - podinfo.json

plank:
  job_url_prefix_config:
    "*": https://prow-dev.tidb.io/view/
  report_templates:
    '*': >-
      [Full PR test history](https://prow-dev.tidb.io/pr-history?org={{.Spec.Refs.Org}}&repo={{.Spec.Refs.Repo}}&pr={{with index .Spec.Refs.Pulls 0}}{{.Number}}{{end}}).
      [Your PR dashboard](https://prow-dev.tidb.io/pr?query=is%3Apr%20state%3Aopen%20author%3A{{with index .Spec.Refs.Pulls 0}}{{.Author}}{{end}}).
  default_decoration_configs:
    "*":
      gcs_configuration:
        bucket: gs://prow-dev-tidb-logs
        path_strategy: explicit
      gcs_credentials_secret: gcs-credentials
      utility_images:
        clonerefs: gcr.io/k8s-prow/clonerefs:v20211214-82e6408890
        entrypoint: gcr.io/k8s-prow/entrypoint:v20211214-82e6408890
        initupload: gcr.io/k8s-prow/initupload:v20211214-82e6408890
        sidecar: gcr.io/k8s-prow/sidecar:v20211214-82e6408890

tide:
  sync_period: 2m

  merge_method:
    ti-community-infra/test-dev: squash

  merge_commit_template:
    ti-community-infra/test-dev:
      title: "{{ .Title }} (#{{ .Number }})"
      # Regex for matching issue number line: https://regex101.com/r/ezCYFC/1/
      body: |
        {{- $body := print .Body -}}
        
        {{- $issueNumberLine := .ExtractContent "(?im)^Issue Number:.+" $body -}}
        {{- $numbers := .NormalizeIssueNumbers $issueNumberLine -}}
        {{- range $index, $number := $numbers -}}
        {{- if $index }}, {{ end -}}
        {{- .AssociatePrefix }} {{ .Org -}}/{{- .Repo -}}#{{- .Number -}}
        {{- end -}}
        
        {{- $description := .ExtractContent "(?i)\x60\x60\x60commit-message(?P<content>[\\w|\\W]+)\x60\x60\x60" $body -}}
        {{- if $description -}}{{- "\n\n" -}}{{- end -}}
        {{- $description -}}
        
        {{- $signedAuthors := .NormalizeSignedOffBy -}}
        {{- if $signedAuthors -}}{{- "\n\n" -}}{{- end -}}
        {{- range $index, $author := $signedAuthors -}}
        {{- if $index -}}{{- "\n" -}}{{- end -}}
        {{- "Signed-off-by:" }} {{ .Name }} <{{- .Email -}}>
        {{- end -}}
        
        {{- $coAuthors := .NormalizeCoAuthorBy -}}
        {{- if $coAuthors -}}{{- "\n\n" -}}{{- end -}}
        {{- range $index, $author := $coAuthors -}}
        {{- if $index -}}{{- "\n" -}}{{- end -}}
        {{- "Co-authored-by:" }} {{ .Name }} <{{- .Email -}}>
        {{- end -}}
  target_url: https://prow-dev.tidb.io/tide

  queries:
    - repos:
        - ti-community-infra/test-dev
      labels:
        - status/can-merge
      missingLabels:
        - do-not-merge/hold
        - do-not-merge/work-in-progress
        - do-not-merge/invalid-commit-message
        - needs-rebase
      reviewApprovedRequired: true

  context_options:
    orgs:
      ti-community-infra:
        repos:
          test-dev:
            skip-unknown-contexts: true
            from-branch-protection: true